<div class="conversation-header">
  <%= cl_image_tag user.avatar.url(:avatar, secure:true), class: "avatar avatar-large ml-2" %>
  <div class="conversation-header-title ml-2"><%= full_name(user) %></div>
   <div class="d-none" id="current_user"><%= current_user.id %></div>
</div>
