<%= render 'conversation_header', user: conversation_partner(@conversation) %>
<div class="container" id="messages">
  <% if @conversation.messages.any? %>
    <% @conversation.messages.each do |message| %>
      <%= render 'chats/messages/message', message: message %>
    <% end %>
  <% end %>
</div>

<%= render 'add_event_button' %>
<%= render 'chats/messages/message_form',message: @message, channel: @conversation %>

