
<div class="container">
  <%= simple_form_for message, url: "/" do |f| %>

    <div class="media">
      <div class="media-body">
        <%= f.input_field :content, as: :string, class: "form-control" %>
      </div>
      <%= f.button :button, class: "ml-2" do %>
        <i class="fab fa-telegram-plane"></i>
      <% end %>
    </div>
  <% end %>
</div>
