// Define variables for your color scheme

// For example:
$light-blue: #454ade;
$dark-blue: #1c3144;
$blue: #48ACF0;
$white: #ffffed;
$purple: #750d37;
$gray: #000000;
$light-gray: #F4F4F4;
$green: #32B796;
$red: #EE5F5B;
$yellow: #FDB631;
$dark: #343434;
$salmon: #EB9486;
