<%= render 'conversation_header', user: conversation_partner(@conversation) %>
<div class="container" id="messages">
  <% if @conversation.messages.any? %>
    <% @conversation.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  <% end %>
</div>

<%= render 'conversations/add_one_message' %>
<%= render 'messages/message_form',message: @message, conversation: @conversation %>

