<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-color: white;">
        <!-- <div class="card-category">Popular</div> -->
        <div class="card--avatar">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/kvin3324">
        </div>
        <div class="card-description">
          <h2>Kévin Joya</h2>
          <!-- <p>Very cool city, the best</p> -->
          <div class="card--description--job">
            <h3>Job</h3>
            <!-- <a href="https://www.linkedin.com/in/k%C3%A9vin-joya-5b6250133/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
             <a href="https://www.linkedin.com/in/k%C3%A9vin-joya-5b6250133/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="card--description--city">
            <i class="fas fa-map-marker-alt"></i><p>From to: Bordeaux</p>
          </div>
          <div class="card--description--bio">
            <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be?</p>
          </div>
        </div>

        <div class="card--footer">
          <div class="card--mood">
            <%= image_tag "meal.png", class: "card--mood--picto" %>
          </div>
          <div class="card--kilometer">
            <p>10 km</p>
          </div>
          <div class="card--contact">
            <p class="btn btn-primary btn-kevin">Contact</p>
          </div>
        </div>
      <!-- <a class="card-link" href="#" ></a> -->
      </div>
    </div>
  </div>
</div>

<!-- image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai') -->
