<div class="test-toto">
  <%#= simple_form_for current_user, url: save_coordinates_path, method: :post, remote: true, html: {class: :toto} do |f| %>
    <%#= f.input :latitude %>
    <%#= f.input :longitude %>
    <%#= f.button :submit %>
  <%# end %>

  lat : <%= current_user.latitude if current_user %>
  lng : <%= current_user.longitude if current_user %>
</div>

