<div class="footer">
  <div class="footer-links">
    <%= link_to "<i class='fas fa-users btn-footer' id='btn-users'></i>".html_safe, users_path, remote: true %>
    <%= link_to "<i class='fas fa-calendar-alt btn-footer' id='btn-events'></i>".html_safe, events_path, remote: true %>
    <a href="#"><i class="fas fa-comments btn-footer" id="btn-messages"></i></a>
  </div>
</div>

