<div class="row">
  <div class="col d-flex align-items-center p-3">
    <%= cl_image_tag event.user.avatar.url(:avatar, secure:true), class: " avatar-large avatar-bordered" %>
     <div class="flex-grow-1 pl-1">
      organized by <%= event.user.first_name %>
    </div>
  </div>
</div>
