<div class="status d-flex justify-content-between">
  <label class="switch">
    <input checked type="checkbox" name="checkbox">
    <span class="knob"></span>
  </label>
  <i class="fas fa-sliders-h"></i>
</div>
