<div class="container pt-2">
  <div class="status d-flex justify-content-between">
    <label class="switch">
      <input checked type="checkbox" name="checkbox">
      <span class="knob"></span>
    </label>
    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="d-flex p-3 filter">

      <div id="filter_categories">
        <% if params[:event_index] %>
          <%= render 'events/filter' %>
        <% else %>
          <%= render 'users/filter' %>
        <% end %>
      </div>

      <div class="range-slider">
        <input id="ex1" class='slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
      </div>

    </div>
  </div>
</div>
