<div class="container pt-2">
  <div class="status d-flex justify-content-between">
    <label class="switch">
      <input checked type="checkbox" name="checkbox">
      <span class="knob"></span>
    </label>
    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="d-flex p-3 filter">

      <div id="filter_categories">
        <% if params[:event_index] %>
          <%= render 'events/filter' %>
        <% else %>
          <%= render 'users/filter' %>
        <% end %>
      </div>

      <div class="range-slider">
        <input class="range-slider__range" type="range" value="100" min="0" max="150">
        <span class="range-slider__value">100</span>
      </div>
    </div>
  </div>
</div>
