<div class="status d-flex justify-content-between">
  <label class="switch">
    <input checked type="checkbox" name="checkbox">
    <span class="knob"></span>
  </label>
  <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-sliders-h"></i>
  </button>
</div>
<div class="collapse" id="collapseExample">
  <div class="card card-body">

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
      <label ><i class="fas fa-utensils picto-small"></i></label>
      <label ><i class="fas fa-glass-martini picto-small"></i></label>
      <label ><i class="fas fa-film picto-small"></i></label>
      <label ><i class="fas fa-university picto-small"></i></label>
      <label ><i class="fas fa-dumbbell picto-small"></i></label>
      <label ><i class="fas fa-music picto-small"></i></label>
    </div>
  </div>
</div>
