<%#= link_to 'connect/disconnect', user_path(current_user, user: { status: current_user.status }), method: :patch %>
<div class="container pt-2">
  <div class="status d-flex justify-content-between">
    <label class="switch">
      <%= simple_form_for :user, url: toggle_availability_users_path, remote: true do |f| %>
        <%= f.input_field :availability, as: :boolean, checked: current_user.available?, onchange: "Rails.fire(this.form, 'submit');" %>
        <span class="knob"></span>
      <% end %>
    </label>
    <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>

  <div class="collapse text-center" id="collapseExample">
    <div class="p-3 filter">
      <div id="filter_categories">
        <% if params[:event_index] %>
          <%= render 'events/filter' %>
        <% else %>
          <%= render 'users/filter' %>
        <% end %>
      </div>
      <div class="range-slider pt-2">
        <input id="ex1" class='slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="25"/>
      </div>
    </div>
  </div>
</div>
