<div class="container">
  <div class="row people">
    <% @users.each do |user|  %>
      <div class="col-md-4">
        <%= render "shared/card_user", user: user %>
      </div>
    <% end %>
  </div>
   <div class="row event">
    <% @events.each do |event|  %>
      <div class="col-md-4">
        <%= render "shared/card_event", event: event %>
      </div>
    <% end %>
  </div>
</div>
