<div class="wrapper-landing">
  <div class="container container-landing">
    <div class="logo-landing">
      <%= image_tag 'bizzy_logo.svg' %>
    </div>
    <h1 class="tag-line flex-grow-1">Hangout with other business travellers around you</h1>

    <%= link_to "SIGN UP", new_user_registration_path , class: "btn btn-primary btn-block" %>
    <%= link_to "Already a Member? Sign In", new_user_session_path, class: "sign-in"%>
  </div>
</div>
