<%= render 'event_chat_header' %>
<div class="container" id="messages">
  <% if @event.messages.any? %>
    <% @event.messages.sort_by { |message| message.created_at }.each do |message| %>
      <%= render 'chats/messages/message', message: message %>
    <% end %>
  <% end %>
</div>
<%= render 'chats/messages/message_form',message: @message, channel: @event %>


