<%= render 'event_chat_header' %>
<div class="container" id="messages">
  <% if @event.messages.any? %>
    <% @event.messages.sort_by { |message| message.created_at }.each do |message| %>
      <%= render 'chats/messages/message', message: message %>
    <% end %>
  <% end %>
</div>
<%= render 'chats/messages/message_form',message: @message, channel: @event %>
<% content_for :after_js do  %>
  <script>
    App.messages = App.cable.subscriptions.create({
      channel: 'MessagesChannel',
      conversation_id: <%= @event.id %>
    }, {
      received: function(data) {
        document.getElementById("messages").insertAdjacentHTML("beforeend", data.message_partial);
        window.scrollTo(0,document.body.scrollHeight);
        return document.getElementById("new_message").reset();
      }

    });
  </script>
<% end %>


