.event {
  margin-bottom: 23%;
}

.card-event {
  margin: 10px 0;
}

.card-event:last-child {
  margin-bottom: 60px;
}

.card-event-picto {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 30px;
}

.card-event-time {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-event-attendees {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-event-attendees p {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 14px;
  opacity: 0.7;
}
