.people {
  margin-bottom: 23%;
}

.card-user {
  margin-top: 50px;
  margin-bottom: 10px;
}

.card-user:last-child {
  margin-bottom: 50px;
}
.card-user-avatar {
  position: absolute;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
}

.card-user-job {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-bottom: 1rem;
}

.card-user-job h3 {
  font-size: 22px;
  margin-bottom: 0;
  padding-left: 30px;
}

.card-user-job a {
  font-size: 24px;
  padding-left: 10px;
}

.card-user-job a:hover {
  color: $blue;
}

.card-user-bio {
  padding: 0 7%;
}

.card-user-mood {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 30px;
}

.edit--btn {
  background-color: $blue !important;
  color: white !important;
}
