.btn-filters {
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
  i {
    color: #6c757d;
    border: 2px solid;
    padding: 3px;
    border-radius: 4px;
  }
}

.filter {
  background: rgba(0,0,0,0.02)
}

.filter i {
  font-size: 20px;
}
