.footer {
  background: $blue;
  box-shadow : 0 0 8px #333;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.footer-links i {
  width: 85px;
  font-size: 1.3em;
}
.footer-links a {
  color: $dark;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-left: 81%;
  margin-top: -5%;
}

