.log--container {
  display: flex;
  align-items: center;
  background: asset-url('bg_log.png');
  background-size: cover;
  height: 81vh;
}
.form-check-label {
  color: $blue;
<<<<<<< HEAD
=======
}
>>>>>>> 8386c82cc4f89c62b3831cb05ffdc2b0b8f29ec7
