.status {
  border-bottom: 1px solid $light-gray;
}

.status i {
  font-size: 30px;
}
//toggle button
$height : 30px;
$width: 50px;

.add--one--event a {
  position: fixed;
  bottom: 100px;
  overflow: hidden;
  width: 55px;
  height: 59px;
  z-index: 2;
  margin-left: -16%;
  background-color: $blue;
  font-size: 2.4em;
  font-weight: bold;
  color: $dark;
  text-align: center;
  border-radius: 50%;
}
.add--one--event a:hover {
  text-decoration: none;
  color: $dark;
}
.add--one--message a {
  position: fixed;
  bottom: 100px;
  overflow: hidden;
  width: 55px;
  height: 59px;
  z-index: 2;
  margin-left: 84%;
  margin-bottom: 9%;
  background-color: $blue;
  border-radius: 50%;
  font-size: 2.4em;
  font-weight: bold;
  color: $dark;
  text-align: center;
}
.add--one--message a:hover {
  text-decoration: none;
  color: $dark;
}
.switch {

  position: relative;
  display: inline-block;
  width: $width;
  height: $height;

  input[type="checkbox"] {
    display:none;
  }

  input:checked + .knob {
    animation: colorChange 0.4s linear forwards;
  }

  input:checked + .knob:before {
    animation: turnON 0.4s linear forwards;
  }

}

@keyframes colorChange {
  from { background-color: #ccc;}
  50%{ background-color: #A4D9AD;}
  to {background-color: #4BD663;}
}
@keyframes turnON {
  from { transform: translateX(0px);  }
  to {  transform: translateX($width - ($height*0.99) );  box-shadow: -10px 0px 44px 0px #434343;}
}

.knob{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: $height;
}

.knob:before {
  position:absolute;
  background-color: white;
  content:"";
  left: $height*0.10;
  top: $height*0.10;
  width: ($height*0.80);
  height: ($height*0.80);
  border-radius: 50%;
}


