.card {
  height: 350px;
  margin-top: 26%;
  margin-bottom: 26%;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: #343434;
  position: relative;
  border-radius: 4%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.card-user {
  // position: absolute;
  // right: 10px;
  // top: 10px;
  width: 73px;
  border-radius: 50%;
  margin-left: 22px;
  // margin-top: 27px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 2px solid;
}
.card--avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 29%;
  // left: 34%;
  text-align: center;
}
.card--description--job {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 39%;
}
.card--description--job h3 {
  margin: 0;
  font-size: 22px;
}
.card--description--job i {
  margin-left: 116%;
}
// .card--description--city {
//   margin: 4% 0;
// }
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  // font-weight: lighter;
}
.card--description--bio {
  padding: 0 7%;
}
.card--description--bio p {
  margin-bottom: 3px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card--mood--picto {
  width: 11%;
  position: absolute;
  top: 88%;
  left: 2%;
}
.card--contact {
  display: flex;
  justify-content: center;
  margin-top: 68%;
}
.btn-kevin {
  position: absolute;
  top: 74%;
}
.card--kilometer  {
  position: absolute;
  margin-left: 82%;
  // background-color: #343434;
  border-radius: 50%;
  width: 13%;
}
.card--kilometer p {
  text-align: center;
  color: #151515;
  margin-top: 71px;
  font-size: 0.8em;
  font-style: italic;
}
// .card--footer {
//   position: absolute;
//   bottom: 29%;
//   // left: 34%;
//   text-align: center;
// }
